<ion-header class="ion-no-border">
  <ion-toolbar color="cyan">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/houses-list" text=""></ion-back-button>
    </ion-buttons>
    <ion-title text-capitalize>{{title}}</ion-title>
    <ion-buttons slot="end">
      <ion-menu-toggle>
        <ion-button class="menu-btn-open" menu="main-menu">
          <ion-icon name="menu-outline" slot="icon-only" color="dark"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
  </ion-toolbar>
</ion-header>